
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

.card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
}

.card-feature i {
  font-size: 2.7rem;
  color: var(--primary-color);
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feature-content span {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--dark-color);
}

.feature-content p {
  color: #777;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .container-features {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }

  .card-feature {
    padding: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .card-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
  }
}
